@import "~antd/dist/antd.css";

.app {
  .checkin {
    border-right: 1px solid #80808026;
    padding-right: 10px;
    .a-checkin {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background: #82c99d;
      border-radius: 5px;
      padding: 5px;
      .name {
        padding: 7.5px 15px;
        background: rgb(9, 149, 64);
        border-radius: 5px;
        text-transform: uppercase;
        color: white;
        margin-right: 10px;
      }

      .title {
        color: rgb(9, 149, 64);
        font-weight: bold;
      }
    }

    .flex {
      display: flex;
      align-items: center;
    }

    .mr-15 {
      margin-right: 15px;
    }

    .mr-5 {
      margin-right: 5px;
    }

    .pl-45 {
      padding-left: 35px;
    }

    .tree-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #00000094;
      font-weight: bold;
    }

    .ant-tree .ant-tree-treenode {
      white-space: nowrap;
      padding: 10px;
      border-radius: 5px;
    }

    .ant-tree.ant-tree-directory .ant-tree-treenode::before {
      bottom: 0;
    }

    .ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
      border-radius: 5px;
    }

    .anticon-more {
      padding: 5px;
      transition: 0.5s;
    }

    .ant-tree-treenode:hover .anticon-more {
      background: #aa9a9a8c;
      padding: 5px;
      border-radius: 5px;
      transition: 0.5s;
    }

    .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
    .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
      background: #82c99d;
      border-radius: 5px;
      color: red;
    }

    .ant-tree-switcher {
      color: gray;
    }

    .ant-tree.ant-tree-directory
      .ant-tree-treenode-selected
      .ant-tree-switcher {
      color: gray;
    }
    .cursor-pointer {
      cursor: pointer;
    }
  }
}
